*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; }

:root {
  font-size: 16px; }

body {
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
  display: flex;
  align-items: center; }
  body .container {
    width: 85%;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; }
    body .container #newTask {
      position: relative;
      background-color: #fff;
      padding: 30px 20px;
      border-radius: 5px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3); }
      body .container #newTask input {
        width: 70%;
        width: 70%;
        height: 45px;
        font-size: 1rem;
        border: 2px solid #d1d3d4;
        padding: 12px;
        color: #111;
        font-weight: 500;
        position: relative;
        border-radius: 5px; }
      body .container #newTask input:focus {
        outline: none; }
      body .container #newTask button {
        position: relative;
        float: right;
        width: 20%;
        height: 45px;
        border-radius: 5px;
        font-weight: 500;
        font-size: 1.3rem;
        background-color: #8052ec;
        border: none;
        color: #fff;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center; }
    body .container #tasks {
      background-color: #fff;
      padding: 30px 20px;
      margin-top: 60px;
      border-radius: 10px;
      box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
      width: 100%;
      position: relative;
      max-height: 300px;
      overflow-y: auto; }
      body .container #tasks .task {
        background-color: #fff;
        height: 50px;
        padding: 5px 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #d1d3d4;
        cursor: pointer; }
        body .container #tasks .task .span {
          font-size: 15px;
          font-weight: 400; }
        body .container #tasks .task button {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #8052ec;
          color: #fff;
          height: 100%;
          width: 40px;
          font-size: 1.2rem;
          border-radius: 5px;
          border: none;
          cursor: pointer;
          outline: none; }
      body .container #tasks .completed {
        text-decoration: line-through; }
